
.original .dcart-price {
  text-decoration: line-through;
}


table#dcart-dashboard,
table#dcart-dashboard tr,
table#dcart-dashboard tr td {
  border: none !important;
  background: none !important;
}

.dashboard-item {
  margin: 1.2em 0;
}

.dashboard-item .description {
  margin: 0;
}

.dashboard-item .parent img {
  float: left;
  margin-right: 1em;
}

.dashboard-item .parent a {
  font-size: 1.6em;
}

.dashboard-item .parent .text {
  float: left;
}

.field-widget-dcart-line-item .order-total {
  text-align: right;
}

.field-widget-dcart-line-item  .form-item {
  float: left;
  margin-right: 1em;
  background: #eee;
  padding: 0.5em 1em;
}

.field-widget-dcart-line-item .form-item label {
  float: left;
  margin-right: 0.5em;
}

.field-widget-dcart-line-item .order-total-wrapper {
  text-align: right;
}

table#widget-attributes-exposed tr.attribute-inactive {
  background-color: #FFDDDD !important;
}

table#widget-attributes-exposed tr.attribute-active {
  background-color: #DDFFDD !important;
}

table#widget-attributes-exposed tr.attribute-main {
  background-color: #bdc3c7 !important;
}

form#dcart-order-edit-form table.order-fields .form-item label {
  display: none;
}

form#dcart-order-edit-form table.order-fields span.required {
  color: red;
}

form#dcart-order-edit-form table.order-fields caption {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}

table#order-edit-form,
table#order-edit-form tr:first-child  {
  border: none;
  padding: 0;
}

table#order-edit-form td {
  border: none;
}

td.fields-inline span,
td.fields-inline div {
  float: left;
}

td.fields-inline span {
  margin-right: 0.5em;
}

td.fields-inline input {
  margin-right: 1em;
}

#checkout-form-wrapper {
  position: relative;
}

.dcart-attributes-wrapper .loading-overlay,
#checkout-form-wrapper  .loading-overlay {
  display:    none;
  position:   absolute;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) url('images/loading.gif') 50% 50% no-repeat;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
  filter: alpha(opacity = 80)};
}

.dcart-attributes-wrapper.loading,
#checkout-form-wrapper.loading {
  overflow: hidden;
}

.dcart-attributes-wrapper.loading .loading-overlay,
#checkout-form-wrapper.loading .loading-overlay {
  display: block;
}

div.image-radios label.image .wrapper {
  background: #eee;
  border: 1px solid #ccc;
  padding: .5em;
}

div.image-radios label.image {
  float: left;
  margin-right: 1em;
}

/*================ Checkout ======================== */

.dcart-checkout-progress li.active {
  background: #F6F6F2;
  padding: .2em 1em;
}

.dcart-checkout-progress {
  padding: 0 !important;
}

.dcart-checkout-progress li {
  margin-right: .5em !important;
}

.checkout-pane  .payment-method-wrapper {
  padding: 1em 1em 1em 0;
  float: left;
  width: 250px;
}

.checkout-pane  .payment-method-wrapper:hover {
  background-color: #F5F5F5;
}

.checkout-pane  .payment-method-wrapper .title {
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
}

.checkout-pane  .payment-method-wrapper  .icon {
  margin-right: 1em;
}

/*================ Tokens ======================== */

.ui-dialog-content table.token-list,
.ui-dialog-content table.token-list td,
.ui-dialog-content table.token-list tr {
  border: none;
}

.ui-dialog-content table.token-list .description {
  margin: 0;
}

.ui-dialog-content table.token-list caption {
  background: #666;
  color: #fff;
}

/*=============== Purchase order ================ */

#purchase-order {
  width: 670px;
  border: 1px solid #222;
  padding: .5em;
}

#purchase-order table.info,
#purchase-order table.ship-to,
#purchase-order table.products {
  border: none;
  font-size: 1em;
}

#purchase-order table.info tr td:last-child {
  border: none;
}

#purchase-order .logo {
  margin-bottom: 1em;
}

#purchase-order .logo img {
  width: 120px;
}

#purchase-order ul li {
  list-style: none;
  list-style-type: none;
}

#purchase-order .products .sku {
  border-left: 1px solid #b1b1b1;
}

#purchase-order .products tr.product {
  border-bottom: 1px solid #b1b1b1;
}

#purchase-order td {
  vertical-align: top;
}

#purchase-order .address table td {
  padding: 0;
}

#purchase-order .shipping .from .header,
#purchase-order .shipping .to .header{
  background-color: #222;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: .2em 1em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

#purchase-order .summary .title {
  font-size: 3em;
}

#purchase-order table.summary {
  border: 1px solid #222;
}

#purchase-order .company {
  font-style: italic;
}

#purchase-order .order td {
  padding: 0 .5em;
}

#purchase-order .order table {
  width: auto !important;
}

#purchase-order .order .title {
  margin-top: .5em;
  margin-bottom: .5em;
}

#purchase-order table.products thead,
#purchase-order table.products thead th {
  background: #ccc;
  color: #222;
  text-transform: uppercase;
}

#purchase-order table.products tr.line-item td.value,
#purchase-order table.products tr.line-item td.title {
 border-bottom: 1px solid #b1b1b1;
}

#purchase-order .summary .created td {
  padding: 2px 6px;
}

#purchase-order .summary .created .value,
#purchase-order .products .line-item .value {
  background-color: #E7E7E7;
}

#purchase-order .summary .number .value {
  border: 1px solid #222;
}

#purchase-order .products td.total {
  background-color: #E7E7E7;
}

#purchase-order .products .line-item.item-total .value,
#purchase-order .products .line-item.item-total .title {
  text-transform: uppercase;
  font-weight: bold;
}

#purchase-order .address ul {
  list-style: none !important;
  list-style-type: none !important;
  margin:0;
  padding:0;
}
